body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #7700ff;
    background: linear-gradient(45deg,rgba(119, 0, 255, 1) 0%, rgba(255, 0, 89, 1) 100%);
    color: white;
}